
{{ block title }}
{{ if player.round_number == 1 }}
Trial rounds
{{ elif player.round_number == 6}}
Block 1
{{ elif player.round_number == 18}}
Block 2
{{ elif player.round_number == 30}}
Block 3
{{ elif player.round_number == 42}}
Block 4
{{ endif }}
{{ endblock }}

{{ block content }}
{{ if player.round_number == 1 }}
    <p>The first 5 rounds are training rounds to get familiar with the game, and its interface. The results of these rounds will not affect your payment.</p>
    <p>During the trial rounds, we use two different versions of the payoff table. In each round, a random draw of the computer will decide if the first or the second version is used in that period.</p>
{{ elif player.round_number == 6}}
    <p>The paid part of the experiment is about to start.</p>
    {{ if player.epsilon == 0 }}
        <p>In this block, we will use only one version of the payoff table. It will be different from the versions used during the trial rounds.</p>
    {{else}}
        {{if player.epsilon == prev_eps }}
            <p>In this block, we will use the same two versions of the payoff table as in the trial rounds.</p>
        {{else}}
            <p>In this block, we will use two versions of the payoff table again, but they will differ from the versions used in the trial rounds.</p>
        {{endif}}
    {{endif}}
    {{if player.delta == prev_del }}
    <p>The payoff percentage will decrease at the same rate as in the trial rounds.</p>
        {{elif player.delta > prev_del}}
            <p>The payoff percentage will decrease less quickly compared to the trial rounds.</p>
        {{else}}
            <p>The payoff percentage will decrease more quickly compared to the trial rounds.</p>
        {{endif}}
{{ elif player.round_number == 18}}
    {{ if player.epsilon == 0 }}
        <p>In this block, we will use only one version of the payoff table. It will be different from the versions used during the previous blocks.</p>
    {{else}}
        {{if player.epsilon == prev_eps }}
            <p>In this block, we will use the same two versions of the payoff table as in the previous block.</p>
        {{else}}
            <p>In this block, we will use two versions of the payoff table again, but they will differ from the versions used in the previous block.</p>
        {{endif}}
    {{endif}}
    {{if player.delta == prev_del }}
        <p>The payoff percentage will decrease at the same rate as in the previous block.</p>
    {{elif player.delta > prev_del}}
        <p>The payoff percentage will decrease less quickly compared to the previous block.</p>
    {{else}}
        <p>The payoff percentage will decrease more quickly compared to the previous block.</p>
    {{endif}}
{{ elif player.round_number == 30}}
    {{ if player.epsilon == 0 }}
        <p>In this block, we will use only one version of the payoff table. It will be different from the versions used during the previous blocks.</p>
    {{else}}
        {{if player.epsilon == prev_eps }}
            <p>In this block, we will use the same two versions of the payoff table as in the previous block.</p>
        {{else}}
            <p>In this block, we will use two versions of the payoff table again, but they will differ from the versions used in the previous block.</p>
        {{endif}}
        {{endif}}
        {{if player.delta == prev_del }}
            <p>The payoff percentage will decrease at the same rate as in the previous block.</p>
        {{elif player.delta > prev_del}}
            <p>The payoff percentage will decrease less quickly compared to the previous block.</p>
        {{else}}
            <p>The payoff percentage will decrease more quickly compared to the previous block.</p>
        {{endif}}
{{ elif player.round_number == 42}}
{{ if player.epsilon == 0 }}
        <p>In this block, we will use only one version of the payoff table. It will be different from the versions used during the previous blocks.</p>
    {{else}}
        {{if player.epsilon == prev_eps }}
            <p>In this block, we will use the same two versions of the payoff table as in the previous block.</p>
        {{else}}
            <p>In this block, we will use two versions of the payoff table again, but they will differ from the versions used in the previous block.</p>
        {{endif}}
    {{endif}}
    {{if player.delta == prev_del }}
        <p>The payoff percentage will decrease at the same rate as in the previous block.</p>
    {{elif player.delta > prev_del}}
        <p>The payoff percentage will decrease less quickly compared to the previous block.</p>
    {{else}}
        <p>The payoff percentage will decrease more quickly compared to the previous block.</p>
    {{endif}}
{{ endif }}



{{ next_button }}


{{ endblock }}
