{% block title %}
   <b style="color:grey">Instructions </b>
{% endblock %}

{% block app_styles %}
<style>


th {
    border: 1px solid black;
    font-size: 16pt;
    width: 650px;
    text-align: right;
    font-weight:normal;
    }

td {
    font-size: 14pt;
    border: 1px solid black;
    text-align: center;
    }

table {
    table-layout: fixed;
    width: 800px;
    }

.history td {
    font-size: 16pt;
    }

.history th {
    font-size: 12pt;
    width: 100px;
    text-align: center;
    }
     .frac {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    letter-spacing: 0.001em;
    text-align: center;
}
.frac > span {
    display: block;
    padding: 0.1em;
}
.frac span.bottom {
    border-top: thin solid black;
}
.frac span.symbol {
    display: none;
}

</style>

{% endblock %}

{% block content %}







<p></p>
  <h4>  Welcome to this experiment in games in continuous time.</h4>
<p></p>

<ul>
    <li>
        <b>General Information:</b>
    </li><ul>
        <li>  Please plan on staying on your computer for up to 60 minutes.
            <p></p>

        <li>
            This study consists of {{ C.NUM_ROUNDS }} of rounds. In each round 2 players compete in a game in continuous time.
        <p></p>
         
        <li> In each round each player is able to chose between one of two action choices (Heads or Tails) and the timing of their action choice.
        </li>
        <p></p>

        <li> In each round you will be paired against a randomly chosen anonymous player.
        </li>
        <p></p>
    </ul>

    <li>
        <p></p>
        <b>Participants Compensation:</b>
    </li><ul>
 
        <li>
          After the end of your participation in the experiment, a 10€ show-up fee, plus your earnings  from all rounds you participated in.
        </li>
        <p></p>
        <li>
            If you leave before being given permission by the experimenter, you will only be eligible for the 10€ show-up fee.
        </li>
        </ul>

</ul>

{{ next_button }}

{% endblock%}