{% block title %}
   <b style="color:grey"> Instructions Quiz</b>
{% endblock %}

{% block app_styles %}
<style>
th {
    border: 1px solid black;
    font-size: 12pt;

    text-align: right;
    font-weight:normal;
    }

td {
    font-size: 12pt;
    border: 1px solid black;
    text-align: center;
    }

table {
    table-layout: auto;
    width: 100%;
    }

.history th {
    font-size: 8pt;
    text-align: center;
    background: lightgray;
    height: 20px;
    }


.history td {
    font-size: 9pt;
    text-align: center;
     height: 20px;
    }
</style>
{% endblock %}

{% block content %}

<h6>Before proceeding to the study, please answer the following questions regarding the instructions you
    just read: </h6>
<br>

{# ------------------------------------------------------------- #}

<div id="Q1_hide" style="display:inline; ">
    1. How long does each round take?
    

    <div style="border: thin solid lightgray; padding:10px; border-radius: 5px; box-shadow: 0 1px 2px #000;
     width:95%;   position: relative; left: 100px;  ">
<div>
  <input type="radio" id="Q1_1" name="Q1_r" >
  <label for="Q1_1"> 30 seconds</label>
    &nbsp&nbsp&nbsp&nbsp <br ><span id="cost_box11"> </span>
</div>

<div>
  <input type="radio" id="Q1_2" name="Q1_r" >
  <label for="Q1_2"> 60 seconds </label>
    &nbsp&nbsp&nbsp&nbsp <br> <span id="cost_box12"> </span>
</div>

<div>
  <input type="radio" id="Q1_3" name="Q1_r" >
  <label for="Q1_3" > 90 seconds </label>
    &nbsp&nbsp&nbsp&nbsp <br><span id="cost_box13"> </span>
</div>

    </div></div>
<br>

<script>
points_1 = 0;
document.getElementById("Q1_1").oninput = function() {
document.getElementById("cost_box11").innerHTML='     --> That is incorrect, please try again';
cost_box11.style.color = "red";
points_1 += 1;
document.getElementById("Q1_1").disabled=true;
};

document.getElementById("Q1_2").oninput = function() {
document.getElementById("cost_box12").innerHTML='     --> Correct!';
cost_box12.style.color = "green";
document.getElementById('Q2_hide').style.display='inline';
points_1 += 1;
document.getElementById("Q1_field").value=points_1;
document.getElementById("Q1_1").disabled=true;
document.getElementById("Q1_3").disabled=true;
};

document.getElementById("Q1_3").oninput = function() {
document.getElementById("cost_box13").innerHTML='     --> That is incorrect, please try again';
cost_box13.style.color = "red";
points_1 += 1;
document.getElementById("Q1_3").disabled=true;
};

</script>
<input id="Q1_field" type="hidden" name="Q1"/>

{# ------------------------------------------------------------- #}

<div id="Q2_hide" style="display:none">

    2. By how much are the players payoffs discounted if the game ends after 60 seconds?
    <div style="border: thin solid lightgray; padding:10px; border-radius: 5px; box-shadow: 0 1px 2px #000;
     width:95%;   position: relative; left: 100px;  ">
<div>
  <input type="radio" id="Q2_1" name="Q2_r" value="2"
         >
  <label for="Q2_1">The payoffs are reduced by 20%. </label>&nbsp&nbsp&nbsp&nbsp <br><span id="cost_box21"> </span>
</div>

<div>
  <input type="radio" id="Q2_2" name="Q2_r" value="1">
  <label for="Q2_2">The payoffs are reduced by 50%.</label>&nbsp&nbsp&nbsp&nbsp<br><span id="cost_box22"> </span>
</div>

<div>
  <input type="radio" id="Q2_3" name="Q2_r" value="3">
  <label for="Q2_3">The payoffs are reduced by 80%.</label>&nbsp&nbsp&nbsp&nbsp<br><span id="cost_box23"> </span>
</div>


</div></div>
<br>

<script>
points_2 = 0;
document.getElementById("Q2_1").oninput = function() {
document.getElementById("cost_box21").innerHTML='     --> That is incorrect, please try again';
cost_box21.style.color = "red";
points_2 += 1;
document.getElementById("Q2_1").disabled=true;
};

document.getElementById("Q2_2").oninput = function() {
document.getElementById("cost_box22").innerHTML='     --> That is incorrect, please try again';
cost_box22.style.color = "red";
points_2 += 1;
document.getElementById("Q2_2").disabled=true;
};

document.getElementById("Q2_3").oninput = function() {
document.getElementById("cost_box23").innerHTML='     --> Correct! At the end of the game the payoffs are reduced by 80%! ';
cost_box23.style.color = "green";
document.getElementById('Q3_hide').style.display='inline';
points_2 += 1;
document.getElementById("Q2_field").value=points_2;
document.getElementById("Q2_1").disabled=true;
document.getElementById("Q2_2").disabled=true;
};
</script>

<input id="Q2_field" type="hidden" name="Q2"/>
{# ------------------------------------------------------------- #}


<div id="Q3_hide" style="display:none">
    3. How many rounds of the game are played?
    <div style="border: thin solid lightgray; padding:10px; border-radius: 5px; box-shadow: 0 1px 2px #000;
     width:95%;   position: relative; left: 100px;  ">


<div>
  <input type="radio" id="Q3_1" name="Q3_r" value="1" >
  <label for="Q3_1">2 rounds.</label>&nbsp&nbsp&nbsp&nbsp <br> <span id="cost_box31"> </span>
</div>
<div>
  <input type="radio" id="Q3_2" name="Q3_r" value="2">
  <label for="Q3_2">3 rounds.  </label>&nbsp&nbsp&nbsp&nbsp<br><span id="cost_box32"> </span>
</div>

<div>
  <input type="radio" id="Q3_3" name="Q3_r" value="3">
  <label for="Q3_3">5 rounds. </label>&nbsp&nbsp&nbsp&nbsp<br><span id="cost_box33"> </span>
</div>


    </div></div>
<br>

<script>
points_3 = 0;
document.getElementById("Q3_1").oninput = function() {
document.getElementById("cost_box31").innerHTML='     --> That is incorrect, please try again';
cost_box31.style.color = "red";
points_3 += 1;
document.getElementById("Q3_1").disabled=true;
};

document.getElementById("Q3_2").oninput = function() {
document.getElementById("cost_box32").innerHTML='     --> Correct!';
cost_box32.style.color = "green";
points_3 += 1;
document.getElementById("Q3_field").value=points_3;
document.getElementById("Q3_1").disabled=true;
document.getElementById("Q3_3").disabled=true;
document.getElementById('submit_hide').style.display='inline';
};

document.getElementById("Q3_3").oninput = function() {
document.getElementById("cost_box33").innerHTML='     --> That is incorrect, please try again';
cost_box33.style.color = "red";
points_3 += 1;
document.getElementById("Q3_3").disabled=true;
};
</script>
<input id="Q3_field" type="hidden" name="Q3"/>
{# ------------------------------------------------------------- #}



<div id="submit_hide" style="display:none">

<p></p><br>
{% next_button %}

</div>

{% endblock %}